<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.reseller.dao.L2role2productMapper">
  <resultMap id="BaseResultMap" type="com.web.reseller.model.L2Role2product">
    <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="productID" jdbcType="VARCHAR" property="productid" />
  </resultMap>

  <insert id="distribute2reseller" parameterType="com.web.reseller.model.L2Role2product">
    insert into l2_role2product (phonenumber, productID)
    values (#{phonenumber,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR})
  </insert>

</mapper>
